[MASTER]
# Specify a configuration file.
rcfile=

# Python code to execute, usually for sys.path manipulation such as
# pygtk.require().
init-hook=

# Add files or directories to the blacklist. They should be base names, not
# paths.
ignore=CVS

# Add files or directories matching the regex patterns to the blacklist. The
# regex matches against base names, not paths.
ignore-patterns=

# Pickle collected data for later comparisons.
persistent=yes

# List of plugins (as comma separated values of python module names) to load,
# usually to register additional checkers.
load-plugins=

[MESSAGES CONTROL]
# Only show warnings with the listed confidence levels. Leave empty to show
# all. Valid levels: HIGH, INFERENCE, INFERENCE_FAILURE, UNDEFINED
confidence=

# Enable the message, report, category or checker with the given id(s). You can
# either give multiple identifier separated by comma (,) or put this option
# multiple time (only on the command line, not in the configuration file where
# it should appear only once). See also the "--disable" option for examples.
enable=all

# Disable the message, report, category or checker with the given id(s). You
# can either give multiple identifiers separated by comma (,) or put this
# option multiple times (only on the command line, not in the configuration
# file where it should appear only once).
disable=
    C0114,  # missing-module-docstring
    C0115,  # missing-class-docstring
    C0116,  # missing-function-docstring
    C0301,  # line-too-long
    W0703,  # broad-exception-caught
    C0303,  # trailing-whitespace
    C0411,  # wrong-import-order
    C0304,  # missing-final-newline
    W0611,  # unused-import
    R0913,  # too-many-arguments
    C2801,  # unnecessary-dunder-call

[REPORTS]
# Set the output format. Available formats are text, parseable, colorized,
# json and msvs (visual studio). You can also give a reporter class, e.g.
# mypackage.mymodule.MyReporterClass.
output-format=text

# Tells whether to display a full report or only the messages.
reports=no

[FORMAT]
# Maximum number of characters on a single line.
max-line-length=120

# Regexp for a line that is allowed to be longer than the limit.
ignore-long-lines=^\s*(# )?<?https?://\S+>?$

# Allow the body of a class to be on the same line as the class header if body
# contains single statement.
single-line-class-stmt=no

[BASIC]
# Variable names that should be ignored, separated by a comma.
good-names=i,j,k,ex,Run,_

# List of strings which can identify a callback function by name. A callback
# name must start or end with one of those strings.
callbacks=

[DESIGN]
# Maximum number of arguments for function / method.
max-args=10

# Maximum number of locals for function / method body.
max-locals=20

# Maximum number of return / yield for function / method body.
max-returns=6

# Maximum number of branch for function / method body.
max-branches=12

# Maximum number of statements in function / method body.
max-statements=50

# Maximum number of parents for a class (see R0901).
max-parents=7

# Maximum number of attributes for a class (see R0902).
max-attributes=10

# Minimum number of public methods for a class (see R0903).
min-public-methods=0

# Maximum number of public methods for a class (see R0904).
max-public-methods=20

[IMPORTS]
# Deprecated modules which should not be used, separated by a comma.
deprecated-modules=

# Create a graph of every (i.e. internal and external) dependencies in the
# given file (report RP0402 must not be disabled).
import-graph=

# Create a graph of external dependencies in the given file (report RP0402 must
# not be disabled).
ext-import-graph=

# Create a graph of internal dependencies in the given file (report RP0402 must
# not be disabled).
int-import-graph=

[CLASSES]
# List of method names used to declare (i.e. assign) instance attributes.
defining-attr-methods=__init__,__new__,setUp

# List of valid names for the first argument in a class method.
valid-classmethod-first-arg=cls

# List of valid names for the first argument in a metaclass class method.
valid-metaclass-classmethod-first-arg=cls

[EXCEPTIONS]
# Exceptions that will emit a warning when being caught, separated by a comma.
overgeneral-exceptions=builtins.Exception